#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;


NET "TMDS_txp_clock" LOC = P144 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;
NET "TMDS_txn_clock" LOC = P143 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;

NET "TMDS_txp<0>"    LOC = P142 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;
NET "TMDS_txn<0>"    LOC = P141 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;

NET "TMDS_txp<1>"    LOC = P140 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;
NET "TMDS_txn<1>"    LOC = P139 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;

NET "TMDS_txp<2>"    LOC = P138 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;
NET "TMDS_txn<2>"    LOC = P137 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;


NET "TMDS_rxp_clock" LOC = P121 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;
NET "TMDS_rxn_clock" LOC = P120 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;

NET "TMDS_rxp<0>"    LOC = P119 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;
NET "TMDS_rxn<0>"    LOC = P118 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;

NET "TMDS_rxp<1>"    LOC = P117 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;
NET "TMDS_rxn<1>"    LOC = P116 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;

NET "TMDS_rxp<2>"    LOC = P115 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;
NET "TMDS_rxn<2>"    LOC = P114 |DIFF_TERM = TRUE | IOSTANDARD = LVDS_33;

#PIN "pll_clocking_i/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
NET "TMDS_rxp_clock" CLOCK_DEDICATED_ROUTE = FALSE;

